<h1>Calculate Your Change</h1>
<form action="/coin_combos">
  <div class="form-group">
    <label for="coin_combos">Please enter the amount in whole numbers </label>
    <input id="coin_combos" name="coin_combos" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
